{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'players/tablesorter.css' %}">
{% endblock styles %}

{% block content %}
{# {% for team in game.teams.all %} #}
  {# <img src="{{ team.image.url }}" class="in-div"> #}
{# {% endfor %} #}

<!-- FAVORITES MESSAGE -->
<div id="team-det-fav-alert" class="alert alert-primary js-fav-alert" role="alert">
  <span class="js-fav-message"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% for item in skaters %}
<h3>{{ item.header }}</h3>
  <h5>{{ item.type }}</h5>
  <table id={{ item.table_id }} class="tablesorter">
    <thead>
      <tr>
        <th class="cell-with-tooltip">Fv
          <span class="css-tooltip">Follow/Unfollow</span>
        </th>
        <th class="cell-with-tooltip">#
          <span class="css-tooltip">Jersey number</span>
        </th>
        <th class="sorter-last-name">Name</th>
        <th class="cell-with-tooltip">Pos
          <span class="css-tooltip">Position</span>
        </th>
        <th class="cell-with-tooltip">Age
          <span class="css-tooltip">Current Age</span>
        </th>
        <th class="cell-with-tooltip">G
          <span class="css-tooltip">Goals</span>
        </th>
        <th class="cell-with-tooltip">A
          <span class="css-tooltip">Assists</span>
        </th>
        <th class="cell-with-tooltip">+/-
          <span class="css-tooltip">Plus/Minus<span>
        </th>
        <th class="cell-with-tooltip">PIM
          <span class="css-tooltip">Penalty in Minutes</span>
        </th>
        <th class="cell-with-tooltip">SOG
          <span class="css-tooltip">Shots on Goal</span>
        </th>
        <th class="cell-with-tooltip">Hits
          <span class="css-tooltip">Hits</span>
        </th>
        <th class="cell-with-tooltip">Blk
          <span class="css-tooltip">Blocks</span>
        </th>
        <th class="cell-with-tooltip">FW
          <span class="css-tooltip">Faceoff Wins</span>
        </th>
        <th class="cell-with-tooltip">PPP
          <span class="css-tooltip">Power Play Points</span>
        </th>
        <th class="cell-with-tooltip">SHP
          <span class="css-tooltip">Short-Handed Points</span>
        </th>
        <th class="cell-with-tooltip sorter-countdown">TOI
          <span class="css-tooltip">Time on Ice</span>
        </th>
        <th class="cell-with-tooltip sorter-countdown">TOI PP
          <span class="css-tooltip">Time on Ice in Power Play</span>
        </th>
        <th class="cell-with-tooltip sorter-countdown">TOI SH
          <span class="css-tooltip">Time on Ice in Short-Handed</span>
        </th>
      </tr>
    </thead>
    <tbody>
        {% include 'players/partial_game_detail_tbody.html' %}
    </tbody>
  </table>

    {% if item.game_goalies_table %}
      {% include item.game_goalies_table.template %}
    {% endif %}
    {{ item.whitespace|safe }}

{% endfor %}
{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.js"></script>
  <!-- Widgets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.widgets.js"></script>

<script src="{% static 'players/last_name.js' %}"></script>
<script src="{% static 'players/parser-duration.js' %}"></script>
<script src="{% static 'players/sorting_game_detail.js' %}"></script>
<script src="{% static 'players/ajax_add_fav.js' %}"></script>
<script src="{% static 'players/ajax_del_fav.js' %}"></script>
{% endblock scripts %}
