<tr>
  <th scope="row">Games</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.games }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">Goals</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.goals }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">Assists</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.assists }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">Points</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.points }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">+/-</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.plusMinus }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">PIM</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.pim }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">SOG</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.shots }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">Hits</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.hits }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">Bks</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.blocked }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">FW</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.faceoffsWon }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">PPP</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.powerPlayPoints }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">SHP</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.shortHandedPoints }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">TOI</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.timeOnIcePerGame }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">TOI PP</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.powerPlayTimeOnIcePerGame }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">TOI SH</th>
  {% for player in comp_skt %}
    <td>{{ player.career_stats.shortHandedTimeOnIcePerGame }}</td>
  {% endfor %}
</tr>
