  {% for player in object.list %}
  <tr>
  <td></td>
  <td>
    <div id="favorite_section">
      {% if player in favorites %}
        <a class="js-fav-del" href="{% url 'player_favorite' player.slug player.nhl_id %}" title="Unfollow player"> <i class="fas fa-star"></i></a>
      {% else %}
        <a class="js-fav-add" href="{% url 'player_favorite' player.slug player.nhl_id %}" title="Follow player"> <i class="far fa-star"></i></a>
      {% endif %}
    </div>
  </td>
  <td>#{{ player.pl_number }}</td>
  <td class="name"><a class="name" href="{% url 'player_detail' player.slug player.nhl_id %}">{{ player.name }}</td>
  <td>{{ player.position_abbr }}</td>
  <td class="cell-with-tooltip">{{ player.nation_abbr }}
  <span class="css-tooltip cell-tooltip ">{{ player.nation }}</span>
  </td>
  <td>{{ player.height }}</td>
  <td>{{ player.weight }}</td>
  <td>{{ player.birth_date|date:"Y-m-d" }}</td>

  {% if player.draft_year %}
    <td>{{ player.draft_number }}</td>
    <td>{{ player.draft_year }}</td>
  {% else %}
  <td class="cell-with-tooltip"> —
    <span class="css-tooltip cell-tooltip ">Undrafted</span>
  </td>
      <td class="cell-with-tooltip"> —
    <span class="css-tooltip cell-tooltip ">Undrafted</span>
  </td>
  {% endif %}
  <td>{{ player.games }}</td>
  <td>{{ player.goals }}</td>
  <td>{{ player.assists }}</td>
  <td>{{ player.points }}</td>
  <td>{{ player.plus_minus }}</td>
  <td>{{ player.penalty_min }}</td>
  <td>{{ player.shots }}</td>
  <td>{{ player.hits }}</td>
  <td>{{ player.blocks }}</td>
  <td>{{ player.faceoff_wins }}</td>
  <td>{{ player.pp_points }}</td>
  <td>{{ player.sh_points }}</td>
  <td>{{ player.time_on_ice }}</td>
  <td>{{ player.time_on_ice_pp }}</td>
  <td>{{ player.time_on_ice_sh }}</td>
  </tr>
{% endfor %}
