<tr>
  <th class="sorter-last-name">Name</th>
  <th class="filter-select cell-with-tooltip">Tm
    <span class="css-tooltip">Team</span>
  </th>
  <th class="filter-select cell-with-tooltip">Dt
    <span class="css-tooltip">Date</span>
  </th>
  <th class="filter-select cell-with-tooltip">Op
    <span class="css-tooltip">Opponent</span>
  </th>
  <th class="cell-with-tooltip">G
    <span class="css-tooltip">Goals</span>
  </th>
  <th class="cell-with-tooltip">A
    <span class="css-tooltip">Assists</span>
  </th>
  <th class="cell-with-tooltip">Pts
    <span class="css-tooltip">Points</span>
  </th>
  <th class="cell-with-tooltip">+/-
    <span class="css-tooltip">Plus/Minus<span>
  </th>
  <th class="cell-with-tooltip">PIM
    <span class="css-tooltip">Penalty in Minutes</span>
  </th>
  <th class="cell-with-tooltip">SOG
    <span class="css-tooltip">Shots on Goal</span>
  </th>
  <th class="cell-with-tooltip">Hits
    <span class="css-tooltip">Hits</span>
  </th>
  <th class="cell-with-tooltip">Blk
    <span class="css-tooltip">Blocks</span>
  </th>
  <!-- <th class="cell-with-tooltip">FW
    <span class="css-tooltip">Faceoff Wins</span>
  </th> -->
  <th class="cell-with-tooltip">PPP
    <span class="css-tooltip">Power Play Points</span>
  </th>
  <th class="cell-with-tooltip">SHP
    <span class="css-tooltip">Short-Handed Points</span>
  </th>
  <th class="cell-with-tooltip sorter-countdown">TOI
    <span class="css-tooltip">Time on Ice</span>
  </th>
  <th class="cell-with-tooltip sorter-countdown">TOI PP
    <span class="css-tooltip">Time on Ice in Power Play</span>
  </th>
  <th class="cell-with-tooltip sorter-countdown">TOI SH
    <span class="css-tooltip">Time on Ice in Short-Handed</span>
  </th>
  </tr>
