<tr>
  <th class="cell-with-tooltip">Rk
    <span class="css-tooltip">Rank</span>
  </th>
  <th class="cell-with-tooltip">Fv
    <span class="css-tooltip">Follow/Unfollow</span>
  </th>
  <th class="sorter-last-name">Name</th>
  <th class="filter-select cell-with-tooltip">Pos
    <span class="css-tooltip">Position</span>
  </th>
  <th class="filter-select cell-with-tooltip">Tm
    <span class="css-tooltip">Team</span>
  </th>
  <th class="filter-select  cell-with-tooltip">Natl
    <span class="css-tooltip">Nationality</span>
  </th>
  <th class="sorter-height cell-with-tooltip">Ht
    <span class="css-tooltip">Height</span>
  </th>
  <th class="cell-with-tooltip">Wt
    <span class="css-tooltip">Weight</span>
  </th>
  <th class="cell-with-tooltip">DOB
    <span class="css-tooltip">Date of Birth</span>
  </th>
  <th class="cell-with-tooltip">Age
    <span class="css-tooltip">Current Age</span>
  </th>
  <th class="cell-with-tooltip">DN
    <span class="css-tooltip">Draft Number</span>
  </th>
  <th class="cell-with-tooltip">YOD
    <span class="css-tooltip">Year Of Draft</span>
  </th>
  <th class="cell-with-tooltip">GP
    <span class="css-tooltip">Games Played</span>
  </th>
  <th class="cell-with-tooltip">G
    <span class="css-tooltip">Goals</span>
  </th>
  <th class="cell-with-tooltip">A
    <span class="css-tooltip">Assists</span>
  </th>
  <th class="cell-with-tooltip">Pts
    <span class="css-tooltip">Points</span>
  </th>
  <th class="cell-with-tooltip">+/-
    <span class="css-tooltip">Plus/Minus<span>
  </th>
  <th class="cell-with-tooltip">PIM
    <span class="css-tooltip">Penalty in Minutes</span>
  </th>
  <th class="cell-with-tooltip">SOG
    <span class="css-tooltip">Shots on Goal</span>
  </th>
  <th class="cell-with-tooltip">Hits
    <span class="css-tooltip">Hits</span>
  </th>
  <th class="cell-with-tooltip">Blk
    <span class="css-tooltip">Blocks</span>
  </th>
  <th class="cell-with-tooltip">FW
    <span class="css-tooltip">Faceoff Wins</span>
  </th>
  <th class="cell-with-tooltip">PPP
    <span class="css-tooltip">Power Play Points</span>
  </th>
  <th class="cell-with-tooltip">SHP
    <span class="css-tooltip">Short-Handed Points</span>
  </th>
  <th class="sorter-duration cell-with-tooltip">ATOI
    <span class="css-tooltip">Average Time on Ice</span>
  </th>
  <th class="sorter-duration cell-with-tooltip">ATOI PP
    <span class="css-tooltip">Average Time on Ice in Power Play</span>
  </th>
  <th class="sorter-duration cell-with-tooltip">ATOI SH
    <span class="css-tooltip">Average Time on Ice in Short-Handed</span>
  </th>
  </tr>
