<tr>
  <th class="cell-with-tooltip">Rk
    <span class="css-tooltip">Rank</span>
  </th>
  <th class="cell-with-tooltip">Fv
    <span class="css-tooltip">Follow/Unfollow</span>
  </th>
  <th class="sorter-last-name">Name</th>
  <th class="filter-select cell-with-tooltip">Pos
    <span class="css-tooltip">Position</span>
  </th>
  <th class="filter-select cell-with-tooltip">Tm
    <span class="css-tooltip">Team</span>
  </th>
  <th class="filter-select cell-with-tooltip">Natl
    <span class="css-tooltip">Nationality</span>
  </th>
  <th class="sorter-height cell-with-tooltip">Ht
    <span class="css-tooltip">Height</span>
  </th>
  <th class="cell-with-tooltip"  data-placeholder="Choose a filter">Wt
    <span class="css-tooltip">Weight</span>
  </th>
  <th class="cell-with-tooltip">DOB
    <span class="css-tooltip">Date of Birth</span>
  </th>
  <th class="cell-with-tooltip">Age
    <span class="css-tooltip">Current Age</span>
  </th>
  <th class="cell-with-tooltip">DN
    <span class="css-tooltip">Draft Number</span>
  </th>
  <th class="cell-with-tooltip">YOD
    <span class="css-tooltip">Year Of Draft</span>
  </th>
  <th class="cell-with-tooltip">GP
  <span class="css-tooltip">Games Played</span>
  </th>
  <th class="cell-with-tooltip">W
    <span class="css-tooltip">Wins</span>
  </th>
  <th class="cell-with-tooltip">L
    <span class="css-tooltip">Losses</span>
  </th>
  <th class="cell-with-tooltip">OTL
    <span class="css-tooltip">Over time losses</span>
  </th>
  <th class="cell-with-tooltip">GAA
    <span class="css-tooltip">Goals Against Average</span>
  </th>
  <th class="cell-with-tooltip">SV%
    <span class="css-tooltip">Save Percentage</span>
  </th>
  <th class="cell-with-tooltip">SV
    <span class="css-tooltip">Saves</span>
  </th>
  <th class="cell-with-tooltip">SO
    <span class="css-tooltip">Shotouts</span>
  </th>
</tr>
