{% for goalie in goalies %}
  <tr>
    <td></td>
    <td>
      <div id="favorite_section">
        {% if goalie in favorites %}
          <a class="js-fav-del" href="{% url 'player_favorite' goalie.slug goalie.nhl_id %}" title="Unfollow player"> <i class="fas fa-star"></i></a>
        {% else %}
          <a class="js-fav-add" href="{% url 'player_favorite' goalie.slug goalie.nhl_id %}" title="Follow player"> <i class="far fa-star"></i></a>
        {% endif %}
      </div>
    <td>#{{ goalie.pl_number }}</td>
    <td class="name"><a class="name" href="{% url 'player_detail' goalie.slug goalie.nhl_id %}">{{ goalie.name }}</td>
    <td>{{ goalie.position_abbr }}</td>
    <td class="cell-with-tooltip">{{ goalie.nation_abbr }}
    <span class="css-tooltip cell-tooltip">{{ goalie.nation }}</span>
    </td>
    <td>{{ goalie.height }}</td>
    <td>{{ goalie.weight }}</td>
    <td>{{ goalie.birth_date|date:"Y-m-d" }}</td>
    {% if goalie.draft_year %}
      <td>{{ goalie.draft_number }}</td>
      <td>{{ goalie.draft_year }}</td>
    {% else %}
    <td class="cell-with-tooltip"> —
      <span class="css-tooltip cell-tooltip ">Undrafted</span>
    </td>
        <td class="cell-with-tooltip"> —
      <span class="css-tooltip cell-tooltip ">Undrafted</span>
    </td>
    {% endif %}
    <td>{{ goalie.games }}</td>
    <td>{{ goalie.wins }}</td>
    <td>{{ goalie.losses }}</td>
    <td>{{ goalie.ot_losses }}</td>
    <td>{{ goalie.goals_against_av|floatformat:2 }}</td>
    <td>{{ goalie.saves_perc|floatformat:3 }}</td>
    <td>{{ goalie.saves }}</td>
    <td>{{ goalie.shotouts }}</td>
{% endfor %}
  </tr>
