{% for game in goalies_games %}
  <tr>
    <td class="name"><a class="name" href="{% url 'player_detail' game.player.slug game.player.nhl_id %}">{{ game.player.name }}</td>
    <td>{{ game.team.abbr }}</td>
    <td>{{ game.date }}</td>
    <td>{{ game.opponent.id }}</td>
    <td>{{ game.stat.decision }}</td>
    <td>{{ game.stat.timeOnIce }}</td>
    <td>{{ game.stat.goalsAgainst }}</td>
    <td>{{ game.stat.savePercentage|floatformat:3 }}</td>
    <td>{{ game.stat.saves }}</td>
    <td>{{ game.stat.shotsAgainst }}</td>
    <td>{{ game.stat.shutouts }}</td>
  </tr>
{% endfor %}
