<tr>
  <th class="sorter-last-name">Name</th>
  <th class="filter-select cell-with-tooltip">Tm
    <span class="css-tooltip">Team</span>
  </th>
  <th class="filter-select cell-with-tooltip">Dt
    <span class="css-tooltip">Date</span>
  </th>
  <th class="filter-select cell-with-tooltip">Op
    <span class="css-tooltip">Opponent</span>
  </th>
  <th class="filter-select cell-with-tooltip">Res
    <span class="css-tooltip">Result</span>
  </th>
  <th class="filter-select cell-with-tooltip">Min
    <span class="css-tooltip">Minutes played</span>
  </th>
  <th class="cell-with-tooltip">GA
    <span class="css-tooltip">Goals Against</span>
  </th>
  <th class="cell-with-tooltip">SV%
    <span class="css-tooltip">Save Percentage</span>
  </th>
  <th class="cell-with-tooltip">SV
    <span class="css-tooltip">Saves</span>
  </th>
  <th class="cell-with-tooltip">SA
    <span class="css-tooltip">Shots Against</span>
  </th>
  <th class="cell-with-tooltip">SO
    <span class="css-tooltip">Shotout</span>
  </th>
</tr>
