{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ title }} - NHL stats tracker
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'players/tablesorter.css' %}">
  <link rel="stylesheet" href="https://mottie.github.io/tablesorter/css/filter.formatter.css">
  
{% endblock styles %}

{% block content %}

{% include 'players/players_filters.html' %}

<div class="button-table-container">
<a id="js_avg_stats" class="left-side-button button" href="#">See average stats</a>
<a id="js_gls_stats" class="left-side-button button" href="#">See goalie stats</a>

<button type="button" class="reset js_reset_skaters">Reset filters</button>
<button type="button" class="reset js_reset_goalies">Reset filters</button>

<table id="skaters_table" class="tablesorter sortable">
  <thead>
    {% include 'players/partial_skaters_header.html' %}
  </thead>

<!-- PAGER -->
<tfoot>
  {% include 'players/partial_pager.html' with id='skaters_table_pager_options' pager_class='pager-s' colspan='27'%}
</tfoot>

<tbody>
  <!-- AJAX -->
</tbody>
</table>

<!-- GOALIES -->
<table id="goalies_table" class="tablesorter sortable">
<thead>
  {% include 'players/partial_goalies_header.html' %}
</thead>

<!-- PAGER -->
<tfoot>
  {% include 'players/partial_pager.html' with id="goalies_table_pager_options" pager_class='pager-g' colspan='20'%}
</tfoot>

<tbody>
  <!-- AJAX -->
</tbody>
</table>
</div>

{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.js"></script>
<!-- Widgets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/extras/jquery.tablesorter.pager.min.js"></script>
<script src="{% static 'players/_formatter.js' %}"></script>
<script src="{% static 'players/toggler.js' %}"></script>
<script src="{% static 'players/sorter_players.js' %}"></script>
<script src="{% static 'players/ajax_add_fav.js' %}"></script>
<script src="{% static 'players/ajax_del_fav.js' %}"></script>
{% endblock scripts %}
