{# FILTERS #}
<div class="expander">
  <span title='Filters'><i class="fas fa-filter fa-lg"></i></span>
</div>

<div class="content">
{# AGE FILTER #}
  {% include 'players/players_range_filter.html' with id='age' column='9' %}
{# HEIGHT FILTER #}
  {% include 'players/players_range_filter.html' with id='height' column='6' %}
{# WEIGHT FILTER #}
  {% include 'players/players_range_filter.html' with id='weight' column='7' %}
{# TEAMS FILTER #}
  {% include 'players/players_checkboxradio_filter.html' with id='teams' %}
{# NATIONS FILTER #}
  {% include 'players/players_checkboxradio_filter.html' with id='nations' %}
{# POSITIONS FILTER #}
  {% include 'players/players_checkboxradio_filter.html' with id='positions' %}  
</div><br>

<input id="js_external_filter_goalies" class="select search_goalies" type="select" data-column="2" placeholder="Input goalies's name">

<input id="js_external_filter_skaters" class="select search_skaters" type="select" data-column="2" placeholder="Input skater's name"><br>

<input type="checkbox" class="js_rookie_filter_skt" title="Show only rookies">
<input type="checkbox" class="js_rookie_filter_gls" title="Show only rookies"> rookie
<br><br><br>
