/* .not-sticky {
  overflow: auto;
} */

a.gameday {
  font-size: 22px;
}

a.curr-day {
  pointer-events: none;
  cursor: default;
  color: red;
}

.slider-filter {
  width: 200px;
}

.center-aligned {
  text-align: center;
}

.left-aligned {
  text-align: left;
}

.js-note-alert, .js-positions-alert, .js-comp-alert, .js-fav-alert {
  display: none;
  position: absolute;
  z-index: 1;
}

#prof-fav-alert {
  width: 70%;
  margin: -150px 0 0 35px;
}

#prof-comp-alert {
  width: 70%;
  margin: -130px 100px 0 0;
}

#team-det-fav-alert, #pls-fav-alert {
  width: 55%;
  margin: -50px 0 0 60px;
}

#comp-fav-alert {
  width: 55%;
  margin: -110px 0 0 80px;
}

#comp-comp-alert {
  width: 55%;
  margin: -110px 0 0 80px;
}

#note-alert {
  width: 10%;
  margin: -280px 0 0 300px;
}

#positions-alert {
  width: 30%;
  margin: -190px 0 0 200px;
}

.ui-menu-item {
    height: 35px;
}

.ui-menu-divider {
  border: 1px;
}

/* COLUMN HIGHLIGHT */
/* DOES NOT HIGHLIGHT CELLS IN THE COLUMN WITH ZEBRA AND HOVER DOES NOT HIGHLIGHT th ALSO*/
/* table {
    border-spacing: 0;
    border-collapse: collapse;
    overflow: hidden;
    z-index: 1;
}

td, th, .ff-fix {
    cursor: pointer;
    padding: 10px;
    position: relative;
}

td:hover::after,
.ff-fix:hover::after {
    background-color: #ffa;
    content: '\00a0';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
} */
/*
tr:not(:last-child):hover td {
  background: red;
} */
/* tr:nth-child(even) td {
    background: red;
} */

/* FILTERS */
.input.tablesorter-filter {
  display: none;
}

/* WITHOUT THIS STYLE FILTER DOESN'T WORK PROPERLY */
.tablesorter .filtered {
  display: none;
}

/* SETS ROWS DISABLED FROM FILTERING TO NOT TO SHOW FILTER BOX */
.tablesorter thead .disabled {
  display: none
}

.tablesorter .tablesorter-filter {
  width: 60px;
}

.tablesorter .tablesorter-filter-row td:nth-child(3) .tablesorter-filter {
  width: 120px;
}

.name-col1 .tablesorter-filter-row td:nth-child(1) .tablesorter-filter {
  width: 120px;
}

.name-col1 .tablesorter-filter-row td:nth-child(3) .tablesorter-filter {
  width: 60px;
}

/* WHAT IS THE POINT OF 18n+3 */
/* .tablesorter .tablesorter-filter-row td:nth-child(18n+3) .tablesorter-filter {
    width: 120px;
} */
.pad {
  /* vertical-align: bottom; */
  height: 1px;
}

/* PAGER */
.pager {
  background-color: #FAFAFA;
  font: 13px Arial, Sans-serif;
  color: black;
  font-weight: bold;
  padding: 4px;
  margin: 0 0 18px;
  text-align: left;
  border: 0;
}

.pager:hover {
  background-color: #FAFAFA;
}

.pager button {
  background-color: #26A69A;
  height: 22px;
  width: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pager select {
  height: 22px;
}

.pager .material-icons {
  color: white;
}

.pager span {
  margin-left: 5px;
  margin-right: 5px;
}

/* SEARCH BAR */
.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -35px;
  width: 40px;
  height: 30px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 14%;
  position: absolute;
  top: 47%;
  left: 60%;
  transform: translate(-50%, -50%);
}


/* TEAMS LIST iPhone contacts style */
#list4 {
  font-family: Georgia, Times, serif;
  font-size: 15px;
  font-weight: bold;
  width: 340px;
}

#list4 ul {
  list-style: none;
}

#list4 ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
  padding-left: 10px;
  cursor: pointer;
}

#list4 ul li a:hover {
  color: #FFFFFF;
  background: blue
}

td a.name {
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  width: 180px;
  height: auto;
  display: block;
  font-family: Georgia, Times, serif;
  font-size: 12px;
  padding: 0 6px;
}

td a.name:hover {
  background: blue;
  color: white;
  text-decoration: none;
  padding: 6px;
}

td.name {
  padding: 0;
}

td.name:hover {
  padding: 0;
}

.link {
  font-size: 0.85em;
  font-weight: bold;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.link--page {
  display: block;
  color: #cecece;
}

/* Gives the animated line below link */
.link--page:not(.link--faded)::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 30px;
  height: 2px;
  margin: -5px 0 0 -15px;
  background: #fff;
  transition: transform 0.3s;
  transform: scale3d(0, 1, 1);
}



body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  min-height: 100%;
}

html {
  /* background-color: green; */
   height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #576b8b;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 0.95em;
  font-weight: bold;
  position: relative;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.link:hover,
.link:focus {
  color: #fff;
}

.link--page:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.bold {
  font-weight: bold;
}

.back-img {
  background-repeat: no-repeat;
  opacity: 0.3;
}

/* image_section????? */
#image_section, #button_section, #inline-section, #gameday_section {
  display: inline-block;
}

img.in-div {
  position: absolute;
  left: 200px;
  top: -20px;
  width: 100%;
  /* or any custom size */
  height: 220px;
}

table.fixed-900 {
  width: 900px;
}

table.fixed-500 {
  width: 500px;
}

table {
  width: 100%;
  font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table td,
table th {
  border: 1px solid silver;
  text-align: center;
  width: 1px;
  white-space: nowrap;
}

th {
  background-color: #576b8b;
  color: white;
  padding: 10px 6px;
}

td {
  padding: 6px;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #efeef4;
}

tr:hover {
  background-color: #ddd;
}

.static_row tr:last-child td {
  font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.box {
  height: 40px;
  line-height: 40px;
  /* Same as height  */
}

/* BUTTON LINK - get rid of !important */
a.nano-button {
  padding: 2px 37px !important;
  margin-left: 0px !important;
}

a.sm-button {
  font-size: 11px;
  background-color: #a9cbd5 !important;
  color: black!important;
}

a.act-button  {
  font-size: 11px;
  background-color: #ab3a3a !important;
}

a.sm-button:hover, a.act-button:hover {
  font-size: 11px;
  background-color: black !important;
  color: white!important;
}

a.sm-button:active, a.act-button:active {
  top: 0px !important;
}

a.button, a.sign_button, p.button {
  width: 250px;
  text-align: center;
  background-color: #30749b;
  font-family: 'Open Sans', 'sans-serif', Raleway;
  border-radius: 5px;
  color: white;
  position: relative;
  text-decoration: none;
  padding: 7px 47px;
  margin-right: 5px;
  margin-bottom: 5px;
}

a.button:hover, a.sign_button:hover {
  background-color: #161f74;
}

a.button:active, a.sign_button:active {
  box-shadow: none;
  top: 3px;
}

/* TINY BUTTON */
a.tiny-button {
  width: 200px;
  text-align: center;
  background-color: #30749b;
  font-family: 'Open Sans', 'sans-serif', Raleway;
  font-size: 13px;
  border-radius: 5px;
  color: white;
  position: relative;
  text-decoration: none;
  padding: 6px 21px;
  margin-bottom: 0px;
}

a.tiny-button:hover {
  background-color: #161f74;
}

.button-table-container {
   display: inline-block;
   text-align: center;
}

.left-side-button {
    float: left;
}

.right-side-button {
    float: right;
}

a.green {
  background-color: green;
}

a.green:hover {
  background-color: violet;
}

/* RESET */
button.reset {
  width: 150px;
  background-color: #b03535;
  font-family: 'Open Sans', 'sans-serif', Raleway;
  border-radius: 5px;
  color: white;
  position: relative;
  text-decoration: none;
  padding: 7px 27px;
  float: right;
}

button.reset:hover {
  background-color: #d10000;
  cursor: pointer;
};

button.reset:active {
  box-shadow: none;
  top: 3px;
}

button.js_reset_goalies {
  margin-left: 320px;
}

a.gray-orange {
  background-color: blue;
}

a.gray-orange:hover {
  background-color: orange;
  color: black;
  font-weight: 500;
}

.gap-20 {
  width: 100%;
  height: 20px;
}

.gap-10 {
  width: 100%;
  height: 10px;
}

.search_res_img {
  height: 60px;
  width: 60px;
}

.no-border-table td{
    border: none;
}

td a.switch {
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  height: auto;
  display: block;
  font-family: Georgia, Times, serif;
  font-size: 12px;
  padding: 6px;
}

td a.switch:hover {
  background: blue;
  color: white;
  text-decoration: none;
  padding: 6px;
}

a.player:hover {
  color: white;
  background: #26A69A ;
}

a.total:hover {
  color: white;
  background: #871c1c ;
}

a.team:hover {
  color: white;
  background: #1c873e ;
}

/* 280px is a width of a search bar with button for some scales*/
.ui-autocomplete {
   width: 280px;
 }

/* TOOLTIPS */

.cell-with-tooltip {
  position: relative;
}

.css-tooltip {
  display: none;
  position: absolute;
  z-index: 100;
  border: 1px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 5px 15px;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  bottom: 40px;
  left: 20px;
}

.cell-with-tooltip:hover span.css-tooltip {
  display: block;
}

.cell-tooltip {
  bottom: 0px;
  left: 55px;
}

.cell-with-filters-tooltip {
  bottom: 0px;
  left: 80px;
}

a.comparison-button, a.tiny-comparison-button {
  background-color: #dbdcdc;
  color: black;
  border: 2px solid silver;
  margin: 0;
  border-radius: 0px;
}

a.comparison-button:hover, a.tiny-comparison-button:hover {
  background-color: #2c7dae;
  color: white;
}

a.current-tab {
  background-color: #1e165e;
  color: white;
  /* cursor: default; */
  pointer-events: none;
}

a.current-tab:hover {
  background-color: #1e165e;
  color: white;
  cursor: default;
}

a.current-tab:active {
  box-shadow: none;
  top: 0px;
}

.reset-icon {
  margin-left: 20px;
}

div.expander, p.expander {
  cursor: pointer;
}

/* COLLAPSED PARAGRAPH  */
div.content {
  display: none;
}
