/* COLUMN HIGHLIGHT */
/* DOES NOT HIGHLIGHT CELLS IN THE COLUMN WITH ZEBRA AND HOVER DOES NOT HIGHLIGHT th ALSO*/
/* table {
    border-spacing: 0;
    border-collapse: collapse;
    overflow: hidden;
    z-index: 1;
}

td, th, .ff-fix {
    cursor: pointer;
    padding: 10px;
    position: relative;
}

td:hover::after,
.ff-fix:hover::after {
    background-color: #ffa;
    content: '\00a0';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
} */
/*
tr:not(:last-child):hover td {
  background: red;
} */
/* tr:nth-child(even) td {
    background: red;
} */


/* COLLAPSED PARAGRAPH  */
p.content-one {
    display: none;
}

/* FILTERS */
.input.tablesorter-filter {
    display: none;
}

/* WITHOUT THIS STYLE FILTER DOESN'T WORK PROPERLY */
.tablesorter .filtered {
  display: none;
}

/* SETS ROWS DISABLED FROM FILTERING TO NOT TO SHOW FILTER BOX */
.tablesorter thead .disabled {
  display: none
}

.tablesorter .tablesorter-filter {
    width: 60px;
}

.tablesorter .tablesorter-filter-row td:nth-child(3) .tablesorter-filter {
    width: 120px;
}

.name-col1 .tablesorter-filter-row td:nth-child(1) .tablesorter-filter {
    width: 120px;
}

.name-col1 .tablesorter-filter-row td:nth-child(3) .tablesorter-filter {
    width: 60px;
}

/* WHAT IS THE POINT OF 18n+3 */
/* .tablesorter .tablesorter-filter-row td:nth-child(18n+3) .tablesorter-filter {
    width: 120px;
} */


.pad {
  /* vertical-align: bottom; */
  height: 1px;
}


/* PAGER */
.pager  {
  background-color: #FAFAFA;
  font: 13px Arial, Sans-serif;
  color: black;
  font-weight: bold;
  padding: 4px;
  margin: 0 0 18px;
  text-align: left;
  border: 0;
}

.pager:hover {
  background-color: #FAFAFA;
}

.pager button {
  background-color: #26A69A;
  height: 22px;
  width: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pager select {
  height: 22px;
}

.pager .material-icons {
   color: white;
}

.pager span {
  margin-left: 5px;
  margin-right: 5px;
}

/* SEARCH BAR */
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -35px;
  width: 40px;
  height: 30px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 14%;
  position: absolute;
  top: 47%;
  left: 55%;
  transform: translate(-50%, -50%);
}

/* TEAMS LIST iPhone contacts style */
#list4 {
   font-family: Georgia, Times, serif;
   font-size: 15px;
   font-weight: bold;
   width: 340px;
}

#list4 ul {
   list-style: none;
}

#list4 ul li a {
   display: block;
   text-decoration: none;
   color: #000000;
   line-height: 30px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #CCCCCC;
   padding-left: 10px;
   cursor: pointer;
}

#list4 ul li a:hover {
   color:#FFFFFF; background:blue
}

td a.name {
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  height: auto;
  display: block;
  font-family: Georgia, Times, serif;
  font-size: 12px;
  padding: 0 6px;
}

td a.name:hover {
  background: blue;
  color: white;
  text-decoration: none;
  padding: 6px;
}

td.name {
  padding: 0;
}

td.name:hover {
  padding: 0;
}

.link {
	font-size: 0.85em;
	font-weight: bold;
	position: relative;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.link--page {
	display: block;
	color: #cecece;
}

/* Gives the animated line below link */
.link--page:not(.link--faded)::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 30px;
	height: 2px;
	margin: -5px 0 0 -15px;
	background: #fff;
	transition: transform 0.3s;
	transform: scale3d(0, 1, 1);
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #576b8b;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 0.95em;
  font-weight: bold;
  position: relative;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.link:hover,
.link:focus {
	color: #fff;
}

.link--page:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.bold {
  font-weight:bold;
}

.back-img {
  background-repeat:no-repeat;
  opacity: 0.3;
}

#favorite_section, #name_section, #twitter_section, #youtube_section, #image_section, #button_section {
    display: inline-block;
}

#button_section {
  * margin-left: 300px; *
}

img.in-div {
    position: absolute;
    left: 200px;
    top: -20px;
    width: 100%; /* or any custom size */
    height: 220px;
}

table {
  width: 100%;
  font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table td,
table th {
    border: 1px solid silver;
    text-align: center;
    width: 1px;
    white-space: nowrap;
}

th {
  background-color: #576b8b;
  color: white;
  padding: 10px 6px;
}

td {
  padding: 6px;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #efeef4;
}

tr:hover {
  background-color: #ddd;
}

.static_row tr:last-child td {
  font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.box {
  height:      40px;
  line-height: 40px; /* Same as height  */
}

a.button, a.sign_button {
  background-color: #30749b;
  font-family: 'Open Sans', 'sans-serif', Raleway;
  border-radius: 5px;
  color: white;
  position: relative;
  text-decoration: none;
  padding: 7px 47px;
}

a.button {
  margin-left: 30px;
}

a.button:hover, a.sign_button:hover {
  background-color: #4b9fb6;
}

a.gray-orange {
  background-color: blue;
}


a.gray-orange:hover {
  background-color: orange;
  color: black;
  font-weight: 500;
}

a.button:active, a.sign_button:active {
  box-shadow: none;
  top: 3px;
}

.gap-20 {
  width:100%;
  height:20px;
}

.gap-10 {
  width:100%;
  height:10px;
}

.search_res_img {
  height: 60px;
  width: 60px;
}
